body{
  background-color: rgb(120, 22, 120);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}
h1{
  color: aliceblue;
  margin: 0;
  margin-bottom: .5rem;
}
input {
  border: 3px solid;
  border-radius: .3rem;
  padding: .25rem;
  width: 15em;
}

select{
  margin-left: .5rem;
}

.equ{
  font-weight: bold;
  font-size: 2rem;
}